/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h2 {
    color: #333;
}

.route-line {
    margin-bottom: 15px;
}

/* Estilo del formulario */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo de los selectores */
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilo del botón para iniciar el escaneo */
button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Estilo de la sección de escaneo */
#scanning-section {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 4px;
    margin-top: 15px;
    border: 1px solid #ddd;
}

#scanning-section h4 {
    margin-bottom: 10px;
    color: #555;
}

/* Estilo de la lista de códigos escaneados */
#codigoList {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

#codigoList li {
    display: flex;
    align-items: center;
    padding: 8px;
    margin-bottom: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Estilo del checkbox */
.codigo-checkbox {
    margin-right: 10px;
}

/* Estilo del botón de eliminar */
#deleteSelected {
    background-color: #dc3545; /* Rojo */
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    display: block;
    width: 100%;
}

#deleteSelected:hover {
    background-color: #c82333; /* Rojo más oscuro al pasar el mouse */
}

/* Ajuste para el botón dentro del recuadro */
#delete-section {
    display: none;
    margin-top: 10px;
}
